<div class="container">
  <div class="form-wrapper">
    <h2><%= @schedule.title %></h2>
    <div class="table-wrapper">
      <table class="table show-table">
        <tr>
          <th>開始日</th>
          <td><%= @schedule.start_date %></td>
        </tr>
        <tr>
          <th>終了日</th>
          <td><%= @schedule.end_date %></td>
        </tr>
        <tr>
          <th>終日</th>
          <% if @schedule.all_day == true %>
            <td>○<td>
          <% else %>
            <td><td>
          <% end %>
        </tr>
        <tr>
          <th>スケジュールメモ</th>
          <td><%= @schedule.memo %></td>
        </tr>
      </table>
    </div>

    <div class="button-area">
      <%= link_to "← 一覧に戻る", :schedules %>
      <%= link_to "編集する", [:edit, @schedule] %>
    </div>
  <div>
</div>